[Unit]
Description="ROS2 node: mqtt_ros"
PartOf=ros2_manage.service
After=ros2_manage.service

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/ws
ExecStart=/bin/bash -c "source install/setup.bash;ros2 run mqtt_ros mqtt_ros_node --ros-args --params-file install/mqtt_ros/share/mqtt_ros/config/params.yaml -r \~/request:=/mqtt_json_ros/request -r \~/response:=/mqtt_json_ros/response"
KillSignal=SIGINT
Restart=on-failure
RestartSec=30

[Install]
WantedBy=ros2_manage.service
