[Unit]
Description="ROS2 node: motor_encoder"
PartOf=ros2_manage.service
After=ros2_manage.service

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/ws
ExecStart=/bin/bash -c "source install/setup.bash;ros2 run motor_encoder motor_encoder_node --ros-args --params-file install/motor_encoder/share/motor_encoder/config/params.yaml"
KillSignal=SIGINT
Restart=on-failure
RestartSec=30

[Install]
WantedBy=ros2_manage.service
